/*

Omarchy Steam Theme
Last Modified: 2025-11-12

*/

:root {
    /* The main accent color and the matching text value */
    --adw-accent-bg-rgb: 138, 162, 203 !important;
    --adw-accent-fg-rgb: 14, 16, 19 !important;
    --adw-accent-rgb: 138, 162, 203 !important;

    /* destructive-action buttons */
    --adw-destructive-bg-rgb: 215, 85, 81 !important;
    --adw-destructive-fg-rgb: 206, 201, 199 !important;
    --adw-destructive-rgb: 215, 85, 81 !important;

    /* Levelbars, entries, labels and infobars. These don't need text colors */
    --adw-success-bg-rgb: 141, 170, 147 !important;
    --adw-success-fg-rgb: 14, 16, 19 !important;
    --adw-success-rgb: 141, 170, 147 !important;

    --adw-warning-bg-rgb: 238, 212, 180 !important;
    --adw-warning-fg-rgb: 14, 16, 19 !important;
    --adw-warning-fg-a: 0.8 !important;
    --adw-warning-rgb: 238, 212, 180 !important;

    --adw-error-bg-rgb: 215, 85, 81 !important;
    --adw-error-fg-rgb: 14, 16, 19 !important;
    --adw-error-rgb: 215, 85, 81 !important;

    /* Window */
    --adw-window-bg-rgb: 14, 16, 19 !important;
    --adw-window-fg-rgb: 206, 201, 199 !important;

    /* Views - e.g. text view or tree view */
    --adw-view-bg-rgb: 14, 16, 19 !important;
    --adw-view-fg-rgb: 206, 201, 199 !important;

    /* Header bar, search bar, tab bar */
    --adw-headerbar-bg-rgb: 14, 16, 19 !important;
    --adw-headerbar-fg-rgb: 206, 201, 199 !important;
    --adw-headerbar-border-rgb: 62, 66, 73 !important;
    --adw-headerbar-backdrop-rgb: 14, 16, 19 !important;
    --adw-headerbar-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-shade-a: 0.36 !important;
    --adw-headerbar-darker-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-darker-shade-a: 0.9 !important;

    /* Split pane views */
    --adw-sidebar-bg-rgb: 14, 16, 19 !important;
    --adw-sidebar-fg-rgb: 206, 201, 199 !important;
    --adw-sidebar-backdrop-rgb: 62, 66, 73 !important;
    --adw-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-sidebar-shade-a: 0.36 !important;

    --adw-secondary-sidebar-bg-rgb: 14, 16, 19 !important;
    --adw-secondary-sidebar-fg-rgb: 206, 201, 199 !important;
    --adw-secondary-sidebar-backdrop-rgb: 62, 66, 73 !important;
    --adw-secondary-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-secondary-sidebar-shade-a: 0.36 !important;

    /* Cards, boxed lists */
    --adw-card-bg-rgb: 255, 255, 255 !important;
    --adw-card-bg-a: 0.08 !important;
    --adw-card-fg-rgb: 255, 255, 255 !important;
    --adw-card-shade-rgb: 0, 0, 0 !important;
    --adw-card-shade-a: 0.36 !important;

    /* Dialogs */
    --adw-dialog-bg-rgb: 14, 16, 19 !important;
    --adw-dialog-fg-rgb: 206, 201, 199 !important;

    /* Popovers */
    --adw-popover-bg-rgb: 14, 16, 19 !important;
    --adw-popover-fg-rgb: 206, 201, 199 !important;

    /* Thumbnails */
    --adw-thumbnail-bg-rgb: 14, 16, 19 !important;
    --adw-popover-fg-rgb: 206, 201, 199 !important;

    /* Miscellaneous */
    --adw-shade-rgb: 0, 0, 0 !important;
    --adw-shade-a: 0.36 !important;
}
